.container {
  width: 1800px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-footer {
    width: 1920px;
}
.container-galery {
    width: 1110px;

}